@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>

<div class form-group>
  <form action="/vendors/@Model.Id/orders" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <label for="orderTitle">order Title</label>
    <input id="orderTitle" name="orderTitle" type="text" class="form-control" required>
    <label for="orderDescription">Order Description</label>
    <input id="orderDescription" name="orderDescription" type="text" class="form-control" required>
    <label for="orderPrice">Order Price in Dollars</label>
    <input id="orderPrice" name="orderPrice" type="number" step="0.01" class="form-control" required>
    <button type='submit'>Add Order</button>
  </form>
</div>