@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderTitle">order Title</label>
  <input id="orderTitle" name="orderTitle" type="text" required>
  <label for="orderDescription">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text" required>
  <label for="orderPrice">Order Price in Dollars</label>
  <input id="orderPrice" name="orderPrice" type="number" required>
  <button type='submit'>Add Order</button>
</form>