body {
  background: url(../img/bakery-background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  color: black;
}

a {
  background-color: rgba(41, 156, 147, 0.65);
  border: 2px solid black;
  color: black;
  text-decoration: underline;
}

a:hover {
  color: lightblue;
}

h1, h3 {
  text-align: center;
  font-size: large;
  background-color: rgba(199, 145, 109, 0.609);
  border: 2px solid black;
}

h2, p {
  font-size: large;
  background-color: rgba(199, 145, 109, 0.609);
  border: 2px solid black;
}

label {
  background-color: rgb(199, 145, 109);
  border: 2px solid black;
}
