body {
  background: url(../img/bakery-background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  color: white;
}

a {
 color: white;
 text-decoration: underline;
}

h1, h3 {
  text-align: center;
}
